APP_NAME="Juventud en Camino"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://proyecto-jovenes.onrender.com

APP_LOCALE=es
APP_FALLBACK_LOCALE=es

LOG_CHANNEL=single
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=aws-0-us-west-1.pooler.supabase.com
DB_PORT=6543
DB_DATABASE=postgres
DB_USERNAME=postgres.uvesufxgbmenjnlgdcmr
DB_PASSWORD=jovenes2026

SESSION_DRIVER=file
SESSION_LIFETIME=120
CACHE_STORE=file
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=local
MAIL_MAILER=log
