APP_NAME="Juventud en Camino"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://web-production-3096b.up.railway.app

APP_LOCALE=es
APP_FALLBACK_LOCALE=es

LOG_CHANNEL=single
LOG_LEVEL=error

DB_CONNECTION=turso
DB_DATABASE=libsql://jec-inventario-beckam06.aws-us-east-1.turso.io
DB_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NzkzMzgwOTIsImlkIjoiMDE5ZTQ4Y2YtZjIwMS03NTQwLWEyNGYtNzU2ZTBkMTUwZDIzIiwicmlkIjoiYmVkM2EwN2YtYjU2OS00ZmRlLWFhN2YtZTg5YzA2NjQxZDk0In0.MU3HkrX8SNeR7J9M4bJozjMjeY38iOhxU49zHFLpyoQ5QbmF3pmcst1jhZnUQtFMryjGr1UYFg7DgSqJqfKNCg

SESSION_DRIVER=file
SESSION_LIFETIME=120
CACHE_STORE=file
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=local
MAIL_MAILER=log
